body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cartContainer {
    max-width: 900px;
    margin: auto;
}

.cartCard {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.cartCard img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.cartDetails {
    flex: 1;
    margin-left: 15px;
}

.cartDetails h4 {
    margin: 0 0 6px;
}

.cartDetails p {
    margin: 4px 0;
    color: #555;
}

.cartActions {
    text-align: right;
}

.cartActions button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cartActions button:hover {
    background-color: #b02a37;
}

.totalBox {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}



.qtyBox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.qtyBox button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}